.header {
  background-color: var(--brand-color);
  padding-inline: 40px;
  border-radius: 1rem;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > .headerHelpButton {
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    color: black;
    border-radius: 2.5rem;
  }
}

.headerBorder {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
  color: #fff;
  > img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .title {
    > strong {
      color: #fff;
    }
    font-weight: 300;
  }
}

.header span,
.header a {
  font-weight: 700;
}

.navigation {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  align-items: center;
}

.navigation a {
  color: rgba(0, 0, 0, 0.5);
}

.rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.container {
  position: sticky;
  top: 0;
  z-index: 4;
  padding-top: 0.5rem;
  background-color: var(--bg);
}

@media (max-width: 767px) {
  .header {
    padding-inline: 10px;
  }
}
