.card {
  border-radius: 1rem;
  background-color: #f3f4f6;
  padding: 1rem;
  flex-grow: 1;
  height: 161px;
  &.open {
    height: auto;
  }

  .mainInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 129px;

    .titleContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h5 {
        text-align: start;
        font-size: 20px;
        font-weight: 700;
      }
      .accordionWrapper {
        cursor: pointer;
        padding: 0.25rem;
        img {
          transition: transform 0.3s ease;
        }
      }
      .selected {
        transform: rotate(180deg);
      }
    }

    .zoneList {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      > li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .messagesListContainer {
    > hr {
      margin: 1rem 0 1rem 0;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
    }
    .messageContainer {
      display: flex;
      flex-direction: row;
      align-items: first baseline;
      gap: 0.5rem;
      margin-bottom: 1rem;
      > div {
        display: flex;
        flex-direction: column;
      }
    }
    .odd {
      background-color: #fbfbfc;
      margin-inline: -1rem;
      padding-inline: 1rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }
}

@media (max-width: 489px) {
  .card {
    height: auto;
  }
}
