.container {
  width: 40%;
  height: 292.5px;
  background-color: aqua;
  border-radius: 6px;
  padding: 4px;
  margin: 4px;
}
.seconde {
  width: 192px;
  height: 108px;
  background-color: green;
  padding: 8px;
  border-radius: 6px;
  margin: 12px;
}
.seconde-active {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8);
  background-color: #694bea;
}

.button {
  width: 46px;
  height: 40px;
  background-color: transparent;
  padding: 8px 16px 8px 16px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  margin: 12px;
}
.button:disabled {
  background-color: #cccccc; /* Light gray color */
  cursor: not-allowed;
}

.choose-button {
  position: absolute;
  right: 0px;
  background-color: #694bea;
  color: white;
  padding: 8px 16px 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  margin: 12px;
  font-size: 14px;
  font-weight: 700;
}

.choose-button:disabled {
  background-color: rgba(28, 30, 33, 0.5); /* Light gray color */
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .seconde {
    width: 45%;
    height: 94px;
    padding: 4px;
    margin: 8px;
  }
  .container {
    width: 98%;
    height: 203px;
  }
}
